*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    background-color: black;
    justify-content: center;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 10px;
}
nav ul li a{
    color:white;
    padding: 10px;
    text-decoration: none;
}